<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {client_id: client_id, logged_in: logged_in}); %>
</head>
<body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
    <div class="jumbotron">
        <h1>About this Project</h1>
        <p>This is a project about setting up authorization on a web application. <br> This is a public page that does not require authentication. </p>
    </div>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>